{
    "globals": {
        "jQuery": false,
    "$": false,
        "angular": false
    },
    "env": {
        "browser": false,
        "node": true
    },
    "rules": {
        "quotes": [1, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
        "indent": [1, 2],
        "no-var": 2,
        "no-undef": 2,
        "no-unused-vars": [0, { "args": "all" }],
        "no-console": [2, { "allow": ["log", "error", "info"] }],
        "no-extra-boolean-cast": 0,
        "no-trailing-spaces": 2,
        "strict": [1, "never"],
        "semi": [2, "always"],
        "no-extra-semi": 2,
        "no-template-curly-in-string": 2
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
     },
   "plugins": [
    ]
}
